<launch>
	<node pkg="drunken_robot" name="teleop_rand" type="teleop_rand.py"/>
	<node pkg="teleop_twist_keyboard" name="teleop_twist_keyboard" type="teleop_twist_keyboard.py"/>
  <!-- <node name="gazebo" pkg="gazebo" type="gazebo" args="$(find gazebo_worlds)/worlds/empty.world" respawn="false" output="screen"/> -->
</launch>
